*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(to right,#dbeafe,#f8fafc);
    padding:40px;
}

.resume-container{
    max-width:1100px;
    margin:auto;
    background:white;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.left{
    width:35%;
    background:#1e3a8a;
    color:white;
    padding:40px 25px;
    text-align:center;
}

.left img{
    width:160px;
    height:160px;
    border-radius:50%;
    border:5px solid white;
    margin-bottom:20px;
}

.left h1{
    font-size:30px;
    margin-bottom:10px;
}

.left span{
    color:#93c5fd;
}

.role{
    margin-bottom:30px;
    font-size:15px;
}

.contact p{
    margin:15px 0;
    font-size:15px;
}

.right{
    width:65%;
    padding:40px;
}

section{
    margin-bottom:35px;
}

section h2{
    color:#1e3a8a;
    margin-bottom:15px;
    border-bottom:3px solid #1e3a8a;
    display:inline-block;
    padding-bottom:5px;
}

section p{
    line-height:1.8;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.skills span{
    background:#1e3a8a;
    color:white;
    padding:10px 18px;
    border-radius:25px;
    font-size:14px;
}

.box{
    background:#f1f5f9;
    padding:18px;
    border-radius:12px;
    margin-bottom:15px;
    transition:0.3s;
}

.box:hover{
    transform:translateY(-4px);
}

.box h3{
    color:#1e3a8a;
    margin-bottom:8px;
}

ul{
    margin-left:20px;
    margin-top:10px;
}

ul li{
    margin-bottom:8px;
}

@media(max-width:768px){

    .resume-container{
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
    }

}